body{
    font-family: Arial;
    margin:40px;
}

.container{
    width:700px;
}

.card{
    margin-bottom:30px;
}

img{
    border-radius:6px;
}

h1{
    margin-bottom:30px;
}

hr{
    margin-top:20px;
}